@model EsteEs.Models.DatosAcademicos
@{
    ViewData["Title"] = "Home Page";
    int? integrante_id = ViewBag.id_integrante;
}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Datos Academico!</title>
</head>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form method="post" asp-action="Index4">
    <input value="@integrante_id" asp-for="IdIntegrante" />
    <select asp-for="NivelEstudio">
        <option value="Primaria">Primaria</option>
        <option value="Secundaria">Secundaria</option>
        <option value="Tecnico">Tecnico</option>
        <option value="Grado">Grado</option>
        <option value="PostGrado">Post-Grado</option>
        <option value="Maestria">Maestria</option>
        <option value="Doctorado">Doctorado</option>
    </select>

    <label for="exampleInputEmail1">¿Alguna vez	ha sido	expulsado o	suspendido	de	alguna	institución?</label>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="Si" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            Si
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="No" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
            No
        </label>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">En caso afirmativo, Por que?</label>
        <input asp-for="Expulsado" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Direccion">

    </div>

   <input type="submit" class="btn btn-primary" value="Continuar">
    </form>